.page4{
  margin-top: 0%;
  display: flex;
}
.symbol{
  display: flex;
  margin-top: 1%;
  margin-left: 2500%;
  margin-bottom: 200%;
}
.part1{
  margin-top: auto;
  
}
.ux{
  display: flex;
  margin-bottom: 3%;
}
.sidebar{
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-top: -60%;
  margin-left: 30%;
  .Aboutme{
    margin-left: 5%;
    margin-bottom: 15%;
    margin-top: 15%;
  }
  .Contant{
    margin-left: 3%;
    margin-top: 12%;

  }
}
.content{
    margin-right: 10%;
}
body {
    display: flex;
    margin-right: auto;
    margin-top: 5%;
    place-items: "center";
  }
  .imgline{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
   
    .Img2{
      margin-left: -8%;
    }

  }

  .Img1{
    margin-right: 2.7%;
    margin-left: 0%;
    /* filter: grayscale(100%); */
  }

  .Img1 img.hover-img,
  .Img2 img.hover-img {
    display: none; /* Initially hide the hover image */
}
.Img1:hover img.default-img,
.Img2:hover img.default-img {
    display: none; /* Hide the default image on hover */
}
.Img1:hover img.hover-img,
.Img2:hover img.hover-img {
    display: block; /* Show the hover image on hover */
}
  .img3line{
    margin-right: 100%;
    
  }
  .img4line{
    display: inline-flex;
    .man{
      margin-bottom: 2%;
      margin-left: -2.99%;
      margin-right: 2.7%;
    }
    .women{
      margin-right: 4.7%;
    }
  }
  .img5line{
    display:flex;
    justify-content: space-between;
    margin-right: 2.7%;
    margin-left: -0.99%;
    .img52{
      margin-right: -1.40%;
    }

  }
  .img6line{
      display:flex;
      justify-content: space-between;
      margin-bottom: 2.20%;
      margin-top: 2%;
      margin-left: 0%;

   

 }
 .img7line{
  display:flex;
   justify-content: space-between;
   margin-bottom: 1.7%;
   margin-left: 0.1%;
   .img71{
    margin-right: -90.10%;
   }
   .img72{
    margin-left: 7.7%;
   }

 }

 .img9line{
  margin-right: 2%;
  display: inline;
 }
  
  .img10line{
    display:flex;
    justify-content: space-between;
    margin-left: 0.1%;
    .Artwork{
      margin-left: 2.6%;
    }

  }
  
  .img5line{
    margin-bottom: 0.65%;

  }
  .rightContent{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }